{% extends 'base.html' %}

{% block head %}
<style>
    #instructionPair{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        padding: 5vh 5vw;
        padding-bottom: 2vh;
    }

    .line{
        width: 100%;
        height: 9vh;
    }

    .admin-txt{
        float: left;

        /* font-family: 'Comfortaa'; */
        font-style: normal;
        font-weight: 450;
        font-size: 10vw;
        line-height: 10vh;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;
    }

    .admin-small-txt{
        float: left;
        padding-left: 2vw;
        padding-top: 3.6vh;

        font-weight: 100;
        font-size: 4vw;
        line-height: 5vh;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .admin-step-txt{
        float: left;
        padding-left: 2vw;
        padding-top: 3.6vh;

        font-weight: 100;
        font-size: 4vw;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;

        margin-bottom: 4vh;
    }

    .line-step{
        width: 40vw;
        height: 9vh;
    }

    .admin-mid-txt{
        float: left;
        width: 90%;
        margin-bottom: 4vh;

        font-weight: 100;
        font-size: 4vw;
        line-height: 3vh;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;
    }

    /* step part */
    .step-div{
        width: 100%;
        padding: 0 0 0 5vw;
    }

    .step-label{
        float: left;
        padding-top: 3vh;
        padding-bottom: 1vh;

        font-size: 1.8vh;
        font-weight: 750;
        text-transform: uppercase;
    }
    
    .btn-edit{        
        /*float: left;*/
        float: right;
        width: 12vw;
        height: 7vh;
        /*margin-left: 34vw;*/
        margin-right: 3vw;
        margin-top: 1vh;

        font-size: 1.8vh;
        font-weight: 500;

        background: #FFFFFF;
        border: 0.5vw solid #0074BC;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 700;
        font-size: 2vh;

        text-decoration: none;
        color: #000000;
        text-transform: uppercase;
    }

    .btn-delete{
        /*float: left;*/
        float: right;
        width: 25vw;
        height: 7vh;
        /*margin-left: 3vw;
        margin-right: 0;*/
        margin-top: 1vh;

        font-size: 1.8vh;
        font-weight: 500;

        background: #FFFFFF;
        border: 0.5vw solid #0074BC;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 700;
        font-size: 2vh;

        text-decoration: none;
        color: #000000;
        text-transform: uppercase;
    }

    .empty-text{
        font-weight: 700;
        font-size: 3vw;
        color: rgba(0, 0, 0, 0.3);
        margin-top: 40vh;
        margin-left: 15vw;
        width: 60vw;
        text-align: center;
        text-transform: UPPERCASE;
    }

    .back{
        margin: 4vh 0vw 0vh -84vw;
    }

    .img_back{
        transform: scale(4);
        position: absolute;
        margin: 1vh 0vw 0vh 89vw;
        width: 5vw;
        height: 5vh;
	}

    #btn-back {
        opacity: 0;
        margin: -8vh 0vw 0vh 81vw;
        position:absolute;
        z-index: 100;
        width: 7vw;
        height: 7vh;

        
        background: #000000;
        border: 2px solid #000000;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }

    /* button part */
    #btn-add {
        width: 100%;
        height: 7vh;
        margin: 7vh 0 2vh 0;
        
        background: #FFFFFF;
        border: 0.5vw solid #0074BC;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 700;
        font-size: 2vh;

        text-decoration: none;
        color: #000000;
    }

    #btn-confirm {
        width: 100%;
        height: 7vh;
        margin: auto;
        
        background: #0074BC;
        border: 2px solid #0074BC;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }

    #overlay {
        display: none;
        position: absolute;
        left: 16vw;
        top: 27vh;
        box-shadow: 2vw 2vw 2vw rgba(0, 0, 0, 0.25);
    }
    .person-device {
        background:#F5F5F5;
        width: 72vw;
        height: 44vh;
        z-index: 1;
        overflow: auto;
    }
    .close{
        width: 5vw;
        height: 5vw;
        position: relative;
        top: 2vh;
        left: 88%;
    }
    .perdev-question{
        position: relative;
        top: 5vh;
        left: 8%;
        font-size: 2.7vh;
        font-weight: 700;
    }
    .text{
        padding: 0 6vw;
    }
    .perdev-ans{
        position: relative;
        top: 7vh;
        left: 14%;
        padding: 0.8vh 0;
        font-size: 2.3vh;
    }
    .subbtn{
        position: relative;
        top: 11vh;
        left: 10%;
    }
    .subbtn input{
        width: 50vw;
        height: 6vh;
        font-size: 2.5vh;
        background-color: white;
        border: 0.8vw solid #0074BC;
        border-radius: 1vh;
    }
    .emailBox {
    margin: auto;
    width: 70%;
    height: 4vh;
    padding: 0 0vw;
    border: 0;
    border-bottom: 0.5vw solid #000;
    background: #ffffff00;
    font-style: normal;
    font-weight: 500;
    font-size: 1.9vh;
    color: #000000;
    outline: none;
}

</style>

{% endblock %}

{% block content %}

<form method="post" id="admin-instruction-pair" enctype="multipart/form-data">
  <div id="instructionPair">
    <div class="back">
		<input id="btn-back" type='submit' name="back" value="back">
        <div class="img_back">
            <svg width="19.5" height="18" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.91421 4.35355L4.56066 7L3.85355 7.70711L0.353553 4.20711L0 3.85355L0.353553 3.5L3.85355 0L4.56066 0.707107L1.91421 3.35355L5.70711 3.35355C9.28325 3.35355 12.2071 6.27741 12.2071 9.85355L12.2071 11.3536H11.2071L11.2071 9.85355C11.2071 6.8297 8.73096 4.35355 5.70711 4.35355H1.91421Z" fill="black" fill-opacity="0.8"/>
                <ellipse cx="20.2175" cy="15.913" rx="3.91307" ry="3.91304" stroke="black" stroke-linecap="square"/>
            </svg>
        </div>
    </div>  
    <div class="line">
        <div class="admin-txt">Database</div>
        <div class="admin-small-txt">- Control System</div>
    </div>
    <div class="admin-mid-txt">Start to store operation templates for different control systems.</div>
    <!-- step part -->
    {% if type_dict|length==0 %}
        <div class="empty-text">There is no control system created so far, <br>please click “ADD SYSTEM” to create new.</div>
    {% else %}
        {% for k, v in type_dict.items() %}
            <div class="step-div">
                <div class="line">
                    <div class="step-label">{{v}}</div>
                    <input class="btn-delete" type='submit' name="delete_{{k}}" value="delete">
                    <input class="btn-edit" type='submit' name="edit_{{k}}" value="edit">
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <input id="btn-add" name="add-system" value="ADD SYSTEM" type="button" onclick="on();">
    <input id="btn-confirm" type='submit' name="confirm" value="CONFIRM">
  </div>

  <div id="overlay">
    <div class="person-device">
        <a onclick="off()">
            <svg class="close" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.0625 14.0625L0.9375 0.9375M0.9375 14.0625L14.0625 0.9375L0.9375 14.0625Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>          
        </a>
        <h2 class="perdev-question">The name of the control system:</h2>
        <div class="perdev-ans">
            <input class="emailBox" type="text" name="cs-name" v-model="cs-name"/>
          </div>
        <div class="subbtn">
            <input type="submit" class="enter" name="Save" value="Save">
        </div>
    </div>
</div>	
</form>

<script>
    function enlarge($t){
    $t.children("input").click();
    }
    function stopPropagation(event){
    event.stopPropagation();
    }
    function on() {
    document.getElementById("overlay").style.display = "block";
    }
    
    function off() {
    document.getElementById("overlay").style.display = "none";
    }
    Vue.createApp({
      data() {
        return {
        }
      },
      delimiters: ['{[', ']}'],
      methods: {
    
      }
    }).mount('#admin-instruction-pair')    
</script>

<script>
</script>
{% endblock %}