{% extends 'base.html' %}

{% block head %}
<style>
    #deviceInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        padding: 5vh 5vw;
    }

    .admin-txt{
        width: 100%;
        height: 10vh;

        /* font-family: 'Comfortaa'; */
        font-style: normal;
        font-weight: 450;
        font-size: 8vw;
        line-height: 10vh;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;
    }

    .roomsubhead{
        font-size: 1.8vh;
        font-weight: 750;

        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .roomBox {
        width: 100%;
        height: 6vh;
        
        font-size: 2vh;
        margin: 1vh 0 2vh 0;
        padding: 0 3vw;
        border: 0.5vw solid #000;
    }

    .roomImg{
      width: 100%;
      height: 100%;
    }

    .uploadWrap{
      width: 100%;
      height: 40vh;
      margin: 1vh 0 5vh 0;
  
      background-color: #D9D9D9;
    }

    .uploadBox{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      padding: 1.7vh 7.5vw;
      width: 30vw;
      height: 7vh;

      background: #FFFFFF;
      border: 0.5vw solid #0074BC;
      border-radius: 1vw;

      font-style: normal;
      font-weight: 700;
      font-size: 2vh;
      text-decoration: none;
      color: #000000;
    }

    .roomUpload{
      position: relative;
      left: -8vw;
      top: -5vh;
      width: 30vw;
      height: 7vh;
      opacity: 0;
        /* border-radius: 5vw 5vw 0 0; */
    }

    .back{
        margin: 4vh 0vw 0vh -84vw;
    }

    .img_back{
        transform: scale(4);
        position: absolute;
        margin: 1vh 0vw 0vh 89vw;
        width: 5vw;
        height: 5vh;
	}

    #btn-back {
        opacity: 0;
        margin: -8vh 0vw 0vh 81vw;
        position:absolute;
        z-index: 100;
        width: 7vw;
        height: 7vh;

        
        background: #000000;
        border: 2px solid #000000;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }

    #btn-continue {
        width: 100%;
        height: 7vh;
        margin: 5vh 0 2vh 0;
        
        background: #0074BC;
        border: 2px solid #0074BC;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }

</style>

{% endblock %}

{% block content %}

<form method="post" id="admin-360-photo" enctype="multipart/form-data">
  <div id="deviceInfo">  
    <div class="back">
      <input id="btn-back" type='submit' name="back" value="back">
          <div class="img_back">
              <svg width="19.5" height="18" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.91421 4.35355L4.56066 7L3.85355 7.70711L0.353553 4.20711L0 3.85355L0.353553 3.5L3.85355 0L4.56066 0.707107L1.91421 3.35355L5.70711 3.35355C9.28325 3.35355 12.2071 6.27741 12.2071 9.85355L12.2071 11.3536H11.2071L11.2071 9.85355C11.2071 6.8297 8.73096 4.35355 5.70711 4.35355H1.91421Z" fill="black" fill-opacity="0.8"/>
                  <ellipse cx="20.2175" cy="15.913" rx="3.91307" ry="3.91304" stroke="black" stroke-linecap="square"/>
              </svg>
          </div>
      </div>  
    <div class="admin-txt">Device Info</div>
    <div class="roomsubhead">360-DEGREE PHOTO</div>
    <div class="uploadWrap">

      {% if is_editRoom %}
      <img id="room-360photo" class="roomImg" src="../../static/images/test/room{{room_id}}/_360_upload.png">
      {% else %}
      <img id="room-360photo" class="roomImg" src="">
      {% endif %}
      
      <div class="uploadBox">UPLOAD

        {% if is_addRoom %}
        <input id="d360-photo-uploader" class="roomUpload" type="file" required>
        {% else %}
        <input id="d360-photo-uploader" class="roomUpload" type="file">
        {% endif %}

      </div>
    </div>
    <div class="roomsubhead">Please take a panorama involving all the devices in the room with jpg/jpeg/png format.</div>
    <input id="btn-continue" type='submit' name="continue" value="CONTINUE">
  </div>
  <!-- auxiliary input field -->
  <input id="room-img2" type="text" name="img360Src" value="" style="display: none">
</form>

<script>
    Vue.createApp({
      data() {
        return {
        }
      },
      delimiters: ['{[', ']}'],
      methods: {
    
      }
    }).mount('#admin-device-info')    
</script>

<script>
  const form = document.getElementById('admin-360-photo');
  const fileUploader1 = document.getElementById('d360-photo-uploader');
  const imgSrc = document.getElementById('room-img2');
  // 听更 change 件并读取元数据
  fileUploader1.addEventListener('change', (event) => {
      // 获取文件列表数组
      const files1 = event.target.files;
      if(files1.length > 1){
          alert("请您上传1张图片")
      }
      const file1 = files1[0]
  
      const name1 = file1.name;
      const type1 = file1.type ? file1.type: 'NA';
      const size1 = file1.size;
      const lastModified1 = file1.lastModified;
  
      var imageType1 = /^image\//; 
      // 是否是图片 
      if(!imageType1.test(type1)) { alert("请选择图片！"); return; }
      //if(size > 40 * 1024 * 1024) {alert("发送的图片超过40MB！"); return;}
  
      console.log({ file1, name1, type1, size1, lastModified1 });
  
      // 判断是否支持FileReader 
      if(window.FileReader) { 
          const reader1 = new FileReader(); 
          reader1.readAsDataURL(file1);
          reader1.addEventListener('load', (event) => {
              const img1 = document.getElementById('room-360photo');
              img1.src = event.target.result;
              img1.alt = file1.name;
              imgSrc.setAttribute('value', img1.src);
              console.log(imgSrc.value)
          });
      } 
      else { alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！"); } 
  
  });
</script>
{% endblock %}