{% extends 'base.html' %}

{% block head %}
<style>
    #instructionInitial{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        /* height: 100vh; */
        padding: 5vh 5vw;
    }
    
    .line{
        width: 100%;
        height: 9vh;
    }

    .admin-txt{
        float: left;

        /* font-family: 'Comfortaa'; */
        font-style: normal;
        font-weight: 450;
        font-size: 10vw;
        line-height: 10vh;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;
    }

    .admin-small-txt{
        float: left;
        padding-left: 2vw;
        padding-top: 3.6vh;

        font-weight: 100;
        font-size: 4vw;
        line-height: 5vh;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .admin-mid-txt{
        float: left;
        width: 90%;
        margin-bottom: 5vh;
        padding-bottom: 3vh;
        font-weight: 100;
        font-size: 4vw;
        line-height: 3vh;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;
    }

    /* .admin-step-txt{
        float: left;
        width: 100%;
        margin-bottom: 0vh;

        font-weight: 0;
        font-size: 4vw;
        line-height: 3vh;

        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;
    }

    .roomsubhead{
        font-size: 2.2vh;
        font-weight: 750;

        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .roomsubhead1{
        font-size: 2.5vh;
        font-weight: 750;

        padding-top: 10vh;
        padding-bottom: 1vh;
        text-transform: uppercase;
    } */

    .admin-step-txt{
        float: left;
        width: 100%;
        margin-bottom: 0vh;

        font-weight: 0;
        font-size: 4.5vw;
        line-height: 3vh;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;
    }

    .roomsubhead{
        font-size: 2.8vh;
        font-weight: 750;

        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .roomsubhead1{
        font-size: 1.5cm;
        font-weight: 500;

        padding-top: 3vh;
        padding-bottom: 1vh;
        text-transform: uppercase;
    }

    .stepBox {
        width: 100%;
        height: 20vh;

        font-size: 2vh;
        margin: 1vh 0 2vh 0;
        padding: 1vh 3vw;
        border: 0.5vw solid #000;
    }

    .stepCommand {
        width: 100%;
        height: 56vh;

        font-size: 2vh;
        margin: 1vh 0 2vh 0;
        padding: 1vh 3vw;
        border: 0.5vw solid #000;
    }

    .stepHelp {
        width: 100%;
        height: 30vh;

        font-size: 2vh;
        margin: 1vh 0 2vh 0;
        padding: 1vh 3vw;
        border: 0.5vw solid #000;
    }

    .uploadWrap{
      width: 100%;
      height: 40vh;
      margin: 1vh 0 2vh 0;
  
      background-color: #D9D9D9;
    }

    .roomImg{
      width: 100%;
      height: 100%;
    }

    .uploadBox{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
      padding: 1.7vh 7.5vw;
      width: 30vw;
      height: 7vh;

      background: #FFFFFF;
      border: 0.5vw solid #000000;
      border-radius: 1vw;

      font-style: normal;
      font-weight: 700;
      font-size: 2vh;
      text-decoration: none;
      color: #000000;
    }

    .roomUpload{
      position: relative;
      left: -8vw;
      top: -5vh;
      width: 30vw;
      height: 7vh;
      opacity: 0;
        /* border-radius: 5vw 5vw 0 0; */
    }

    .back{
        margin: 4vh 0vw 0vh -84vw;
    }

    .img_back{
        transform: scale(4);
        position: absolute;
        margin: 1vh 0vw 0vh 89vw;
        width: 5vw;
        height: 5vh;
	}

    .brief{
        width: 100%;
        padding-top: 6vh;

        font-weight: 750;
        font-size: 6vw;
        line-height: 4vh;
        /* identical to box height */

        align-items: center;
        letter-spacing: 0;

        color: #000000;
        display: inline-block;
    }

    #btn-back {
        opacity: 0;
        margin: -8vh 0vw 0vh 81vw;
        position:absolute;
        z-index: 100;
        width: 7vw;
        height: 7vh;

        
        background: #000000;
        border: 2px solid #000000;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }

    #btn-confirm {
        width: 100%;
        height: 7vh;
        margin: 10vh 0;
        
        background: #0074BC;
        border: 2px solid #0074BC;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }

</style>

{% endblock %}

{% block content %}

<form method="post" id="admin-instruction-initial" enctype="multipart/form-data">
  <div id="instructionInitial">  
    <div class="back">
		<input id="btn-back" type='submit' name="back" value="back">
        <div class="img_back">
            <svg width="19.5" height="18" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.91421 4.35355L4.56066 7L3.85355 7.70711L0.353553 4.20711L0 3.85355L0.353553 3.5L3.85355 0L4.56066 0.707107L1.91421 3.35355L5.70711 3.35355C9.28325 3.35355 12.2071 6.27741 12.2071 9.85355L12.2071 11.3536H11.2071L11.2071 9.85355C11.2071 6.8297 8.73096 4.35355 5.70711 4.35355H1.91421Z" fill="black" fill-opacity="0.8"/>
                <ellipse cx="20.2175" cy="15.913" rx="3.91307" ry="3.91304" stroke="black" stroke-linecap="square"/>
            </svg>
        </div>
    </div>  
    <div class="line">
        <div class="admin-txt">Preview</div>
        <div class="admin-small-txt">- {{room_id}}</div>
    </div>
    <div class="admin-mid-txt">You can add on extra details apart from the templates in the HELP box.</div>
    <!-- instruction content part -->
    {% if steps|length==0 %}
        <div class="empty-text">There is no step.</div>
    {% else %}
        {% for k, v in steps.items() %}
            <!-- <div class="roomsubhead1">Case {{k}}</div> -->
            {% if v.devices %}
                <div class="brief">For {{v.devices}}, do:</div>
                    <!-- {% for d in v.devices %}
                    <div class="brief">{{d}}, </div>
                    {% endfor %}
                    <div class="brief">do: </div> -->
                <!-- <div class="admin-step-txt">{{v.text}}</div> -->
            {% endif %}
            {% for stepID, stepInfo in v.items() %}
                {% if stepID != "devices" %}
                    <div class="roomsubhead1">Step {{stepID}}</div> 
                    {% if stepInfo.text %}
                    <div class="admin-step-txt">{{stepInfo.text}}</div>
                    {% endif %}

                    {% if stepInfo.image %}
                    <img id="room-photo{{stepID}}" class="roomImg" src="../../static/images/test/system{{system_id}}/instruction/{{stepInfo.image}}">
                    {% endif %}

                    <textarea class="stepBox" type="text" placeholder="The details that you can further add on could be the location of some portable devices in the room, the Wi-Fi name and password, or the name of Apple TV and so on." name = help_{k}_{stepID} value="{{stepInfo.help}}"></textarea>
                    
                {% endif %}
            {% endfor %}

        {% endfor %}
    {% endif %}
    <input id="btn-confirm" type='submit' name="save" value="SAVE">
  </div>
</form>

<script>
    Vue.createApp({
      data() {
        return {
        }
      },
      delimiters: ['{[', ']}'],
      methods: {
    
      }
    }).mount('#instruction-initial')    
</script>

{% endblock %}