{% extends 'base.html' %}

{% block head %}
<script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
<style>
    form{
        /* position:fixed; */
        padding:0;
        margin:0;
    }
    #mainBody{
        /* display: flex;
        flex-direction: column;
        align-items: flex-start; */
        justify-content: center;
        height: 100vh;
        width: 100vw;
        padding: 5vh 5vw;
    }
    .main-title{
        width: 20vw;
        height: 10vh;

        /* font-family: 'Comfortaa'; */
        font-style: normal;
        font-weight: 360;
        font-size: 8vw;
        line-height:10vh;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;
        color: #000000;
    }
    .searchsubhead{
        font-weight: 900;
        font-size: 3vw;

        /* padding-top: 1vh; */
        padding-bottom: 1vh;
        font-style: normal;
        margin-top: 4vh;
        line-height: 2vh;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;
        color: #000000;
    }
    .searchBox {
        margin: auto;
        width: 100%;
        height: 6vh;
        padding: 0 3vw;
        border: 0.5vw solid #000;
        background: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #000000;
    }
    .roomgroup{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        padding: 0% 0% 20% 0%;
    }
    .room{
        height: 25vh;
        width: 41vw;
        margin: 0vh 2vw 2vh 2vw;
        border-radius: 1vw;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
        background-color: white;
    }
    .roomimg{
        width: 100%;
        height: 80%;
        border-radius: 1vw 1vw 0 0;
    }
    .roomtext{
        width: 100%;
        height: 20%;
        padding: 2% 6%;
    }
    .roomname{
        font-size: 3.3vw;
        font-weight: 500;
    }
    .roomlift{
        font-size: 2.4vw;
        font-weight: 300;
    }
    .roomelse{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: auto;
        align-items: flex-end;
        position: relative;
        bottom: 80%;
    }
    .roomdate{
        position: relative;
        font-size: 2.4vw;
        font-weight: 300;
    }
    .roomtime{
        position: relative;
        font-size: 2.4vw;
        font-weight: 300;
    }
    #mainFooter{
        position: fixed;
        z-index: 999;
        width: 100vw;
        height: 10vh;
        bottom: 4vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* float: left;
        z-index: 999;
        width: 100vw;
        height: 10vh;
        bottom: 4vh;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    .btnAdd{
        position: relative;
        margin-top: 6vh;
        margin-bottom: 3vh;
        /* padding-top:2vh; */
        width: 30vw;
        height: 7vh;
        /* top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); */
        background: #0074BC;
        border-radius: 1vh;
        font-size: 4vh;
        text-align: center;
        color: white;
    }
    .error{
        position: fixed;
        top: 0;
        left: 0;
        height: 5vh;
        width: 100vw;
        background: #ffeb99;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        padding-top: 1vh;
    }
    .room-empty{
        margin: auto;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        padding-top: 5vh;
    }
    .img_profile{
        transform: scale(10);
        position: absolute;
        margin: 14vh 0vw 0vh 86vw;
        /* width: 5vw; */
        height: 5vh;
	}
    #btn-profile {
        opacity: 0;
        margin: -8vh 0vw 0vh 83vw;
        position:absolute;
        z-index: 100;
        width: 7vw;
        height: 7vh;
        /* background: #000000;
        border: 2px solid #000000;
        border-radius: 1vw; */
        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }

    #btn-database {
        opacity: 0;
        margin: -8vh 0vw 0vh 83vw;
        position:absolute;
        z-index: 100;
        width: 7vw;
        height: 7vh;
        /* background: #000000;
        border: 2px solid #000000;
        border-radius: 1vw; */
        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }

    #main-title,#profile{
        display: inline-block;
    }

    #database{
        height: 10vh;
        float: left;
        align-items: center;
    }

    /* #add{

    } */


</style>

{% endblock %}

{% block content %}

<form method="post" id="admin-main" enctype="multipart/form-data">
    {% if not error=='' %}
    <div class="error">
        {{error}}
    </div>
    {% endif %}
    <div class="main">
    <!-- body -->
    <div id="mainBody">  
        <div class="main-title">Rooms</div>
        <div class="profile">
            <input id="btn-profile" type='submit' name="profile" value="profile">
            <div class="img_profile">
                <svg width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.2174 20.4783C17.3359 20.4783 15 22.8142 15 25.6957V27H25.4348V25.6957C25.4348 22.8142 23.0989 20.4783 20.2174 20.4783Z" stroke="black"/>
                    <ellipse cx="20.2175" cy="15.913" rx="3.91307" ry="3.91304" stroke="black" stroke-linecap="square"/>
                </svg>
            </div>
        </div>
        <div class="searchsubhead">SEARCH</div>
            <input class="searchBox" type="text" placeholder="Search all rooms" name="room_id"/>
        <div class="searchsubhead">BROWSE ALL</div>
        <div class="roomgroup">
            {% if roomInfo %}
                {% for k, v in roomInfo.items() %}
                <div class="room" v-on:click="goRoom($event, '{{v.name}}')">
                    <img class="roomimg" src="../../static/images/test/room{{v.name}}/_basic_upload.png" />
                    <div class="roomtext">
                        <div class="roomname">Room {{v.name}}</div>
                        <div class="roomlift">{{v.lift}}</div>
                        <div class="roomelse">
                            
                            <!-- <div class="roomdate">{{v.date}}</div>
                            <div class="roomtime">{{v.time}}</div> -->
                           
                            <div class="roomdate">TBA</div>
                            <div class="roomtime">TBA</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="room-empty">No room now! Please create one!</div>
            {% endif %}
            
        </div>
    
        <!-- footer -->

        <div id="mainFooter">
            <div id="database">
                <input id="btn-database" type='submit' name="control" value="control">
                <div class="img_profile">
                    <svg width="10" height="10" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 11C4 10.7348 4.10536 10.4804 4.29289 10.2929C4.48043 10.1054 4.73478 10 5 10C5.26522 10 5.51957 10.1054 5.70711 10.2929C5.89464 10.4804 6 10.7348 6 11V12C6 12.2652 5.89464 12.5196 5.70711 12.7071C5.51957 12.8946 5.26522 13 5 13C4.73478 13 4.48043 12.8946 4.29289 12.7071C4.10536 12.5196 4 12.2652 4 12V11ZM10 7C10 6.73478 10.1054 6.48043 10.2929 6.29289C10.4804 6.10536 10.7348 6 11 6C11.2652 6 11.5196 6.10536 11.7071 6.29289C11.8946 6.48043 12 6.73478 12 7V12C12 12.2652 11.8946 12.5196 11.7071 12.7071C11.5196 12.8946 11.2652 13 11 13C10.7348 13 10.4804 12.8946 10.2929 12.7071C10.1054 12.5196 10 12.2652 10 12V7ZM7 9C7 8.73478 7.10536 8.48043 7.29289 8.29289C7.48043 8.10536 7.73478 8 8 8C8.26522 8 8.51957 8.10536 8.70711 8.29289C8.89464 8.48043 9 8.73478 9 9V12C9 12.2652 8.89464 12.5196 8.70711 12.7071C8.51957 12.8946 8.26522 13 8 13C7.73478 13 7.48043 12.8946 7.29289 12.7071C7.10536 12.5196 7 12.2652 7 12V9Z" fill="black"/>
                        <path d="M4 1.5H3C2.46957 1.5 1.96086 1.71071 1.58579 2.08579C1.21071 2.46086 1 2.96957 1 3.5V14C1 14.5304 1.21071 15.0391 1.58579 15.4142C1.96086 15.7893 2.46957 16 3 16H13C13.5304 16 14.0391 15.7893 14.4142 15.4142C14.7893 15.0391 15 14.5304 15 14V3.5C15 2.96957 14.7893 2.46086 14.4142 2.08579C14.0391 1.71071 13.5304 1.5 13 1.5H12V2.5H13C13.2652 2.5 13.5196 2.60536 13.7071 2.79289C13.8946 2.98043 14 3.23478 14 3.5V14C14 14.2652 13.8946 14.5196 13.7071 14.7071C13.5196 14.8946 13.2652 15 13 15H3C2.73478 15 2.48043 14.8946 2.29289 14.7071C2.10536 14.5196 2 14.2652 2 14V3.5C2 3.23478 2.10536 2.98043 2.29289 2.79289C2.48043 2.60536 2.73478 2.5 3 2.5H4V1.5Z" fill="black"/>
                        <path d="M9.5 1C9.63261 1 9.75979 1.05268 9.85355 1.14645C9.94732 1.24021 10 1.36739 10 1.5V2.5C10 2.63261 9.94732 2.75979 9.85355 2.85355C9.75979 2.94732 9.63261 3 9.5 3H6.5C6.36739 3 6.24021 2.94732 6.14645 2.85355C6.05268 2.75979 6 2.63261 6 2.5V1.5C6 1.36739 6.05268 1.24021 6.14645 1.14645C6.24021 1.05268 6.36739 1 6.5 1H9.5ZM6.5 0C6.10218 0 5.72064 0.158035 5.43934 0.43934C5.15804 0.720644 5 1.10218 5 1.5V2.5C5 2.89782 5.15804 3.27936 5.43934 3.56066C5.72064 3.84196 6.10218 4 6.5 4H9.5C9.89782 4 10.2794 3.84196 10.5607 3.56066C10.842 3.27936 11 2.89782 11 2.5V1.5C11 1.10218 10.842 0.720644 10.5607 0.43934C10.2794 0.158035 9.89782 0 9.5 0L6.5 0Z" fill="black"/>
                    </svg> 
                </div>
            </div>
            <div id="add">
                <input class="btnAdd" type="submit" name="add" value="+">
            </div>
        </div>
    </div>
  </div>
  <!-- auxiliary field: not show in frontend, deal with form submit to send RoomId -->
  <div id="roomId" style="display:none">
    <input id="children0" type="text" name="roomid" value="" style="display:none">
  </div>
</form>

<script>
    Vue.createApp({
      data() {
        return {
        }
      },
      delimiters: ['{[', ']}'],
      methods: {
        goRoom: function (event, roomid) {
            console.log(roomid)
            var form = document.getElementById("admin-main");
            var roomDiv = document.getElementById("roomId");

            roomDiv.children[0].setAttribute('value', roomid);
            console.log(roomDiv.children[0].value)
            
            form.submit();
        },
      }
    }).mount('#admin-main')    
</script>

<script>
   

</script>
{% endblock %}