{% extends 'base.html' %}

{% block head %}
<style>
    #deviceInfo{
        width: 100vw;
        height: 100vh;
    }

    .admin-txt{
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 6vh;
        padding: 3vh 5vw;

        /* font-family: 'Comfortaa'; */
        font-style: normal;
        font-weight: 450;
        font-size: 8vw;
        line-height: 10vh;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;
    }

    .back{
        margin: 4vh 0vw 0vh -84vw;
    }

    .img_back{
        transform: scale(4);
        position: absolute;
        margin: 6vh 0vw 0vh 93vw;
        width: 5vw;
        height: 5vh;
	}

    #btn-back {
        opacity: 0;
        margin: -3vh 0vw 0vh 86vw;;
        position:absolute;
        z-index: 100;
        width: 7vw;
        height: 7vh;

        
        background: #000000;
        border: 2px solid #000000;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }
    
    /* three buttons */
    #btn-add {
        position: absolute;
        top: 70vh;
        left: 0;
        margin: 4vh 5vw 2vh 5vw;
        width: 90vw;
        height: 7vh;
        
        background: #FFFFFF;
        border: 0.5vw solid #0074BC;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 700;
        font-size: 2vh;

        text-decoration: none;
        color: #000000;
    }

    #btn-list {
        position: absolute;
        top: 80vh;
        left: 0;
        margin: 3vh 5vw 2vh 5vw;
        width: 90vw;
        height: 7vh;
        
        background: #FFFFFF;
        border: 0.5vw solid #0074BC;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 700;
        font-size: 2vh;

        text-decoration: none;
        color: #000000;
    }

    #btn-continue {
        position: absolute;
        top: 90vh;
        left: 0;
        width: 90vw;
        height: 7vh;
        margin: 2vh 5vw 2vh 5vw;
        
        background: #0074BC;
        border: 2px solid #0074BC;
        border-radius: 1vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
        color: #FFFFFF;
    }

    /* device part */
    #device-scroll{
        position: absolute;
        transform: translateX(-50%);
        left: 50vw;
        top: 20vh; /* up to 6% */
        width: 100vw;
        height: 50vh;

        overflow-y: scroll;
        overflow-x: scroll;

        border: 0.1vh solid #eee;
    }

    #device-objs{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    /* menu part */
    #point-menu{
        width: 54vw;
        height: 37.5vw;
        border: 0.3vw solid #000;
        border-radius: 1vw;
        background-color: white;
        z-index: 10;
    }

    #point-input2{
        position: absolute;
        width: 15vw;
        height: 8vw;
        top: 27vw;
        left: 1vw;
        font-size: 5vw;
        border: 0.2vw solid #000;
        border-radius: 1vw;
        background-color: white;
        font-weight: 500;
    }

    #point-input4{
        position: absolute;
        width: 20vw;
        height: 8vw;
        top: 27vw;
        left: 20vw;
        font-size: 5vw;
        border: 0.2vw solid #000;
        border-radius: 1vw;
        background-color: white;
        font-weight: 500;
    }

    #point-input5{
        position: absolute;
        width: 8vw;
        height: 8vw;
        top: 27vw;
        left: 44vw;
        font-size: 5vw;
        background-color: white;
    }

    .menu-label{
        font-size: 2.5vh;
        width: 15vw;
        height: 5vw;
        padding: 0.9vh 1vw;
        font-weight: 500;
    }

    .menu-input{
        font-size: 2vh;
        width: 30vw;
        height: 6vw;
        margin: -10vw;
        margin-left: 20vw;
        padding: 0 1vw;
        border: 0.2vw solid #000;
    }

    .opt_value{
        font-size: 0.5vh;
    }
</style>

{% endblock %}

{% block content %}

<form method="post" id="admin-device-info" enctype="multipart/form-data">
  <div id="deviceInfo">  
    <div class="back">
		<input id="btn-back" type='submit' name="back" value="back">
        <div class="img_back">
            <svg width="19.5" height="18" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.91421 4.35355L4.56066 7L3.85355 7.70711L0.353553 4.20711L0 3.85355L0.353553 3.5L3.85355 0L4.56066 0.707107L1.91421 3.35355L5.70711 3.35355C9.28325 3.35355 12.2071 6.27741 12.2071 9.85355L12.2071 11.3536H11.2071L11.2071 9.85355C11.2071 6.8297 8.73096 4.35355 5.70711 4.35355H1.91421Z" fill="black" fill-opacity="0.8"/>
                <ellipse cx="20.2175" cy="15.913" rx="3.91307" ry="3.91304" stroke="black" stroke-linecap="square"/>
            </svg>
        </div>
    </div>  
    <div class="admin-txt">Device Info</div>
    <!-- device part -->
    <div id="device-scroll">
        <img style='position:absolute;height:100%;' src="../../static/images/test/room{{room_id}}/_360_upload.png" id="image">
        <div id="device-objs"></div>
        <div id="point-menu">
            <div id="create-div3">
                <p class="menu-label" id="point-text1">Name: </p>
                <input class="menu-input" id="point-text11" type="text" name="p_name" value="microphone 1">
            </div>
            <div id="create-div6">
                <p id="point-text2" class="menu-label" >Type: </p>
                <!-- <input class="menu-input" id="point-text21" type="text" name="p_type" value="none"> -->
                <select class="menu-input" id="point-text21" name="p_type">
                    <option class="opt_value" value="none" >None</option>
                    {% for k, v in type_dict.items() %}
                        <option class="opt_value" value="{{v.name}}">{{v.name}}</option>
                    {% endfor %}
                    <!-- <option class="opt_value" value="Microphone">Microphone</option>
                    <option class="opt_value" value="Projector">Projector</option>
                    <option class="opt_value" value="Screener">Screener</option> -->
                </select>
            </div>
            <div id="point-image0">
                <p class="menu-label" id="point-text3">IP: </p>
                <input class="menu-input" id="point-text31" type="text" name="p_ip" value="none">
            </div>  
            <input id="point-input10" type="text" name="p_img" value="" style="display: none">   
            <input id="point-input2" type="submit" name="point_edit" value="Save">
            <input id="point-input3" type="submit" name="point_duplicate" value="Duplicate" style="display: none">
            <input id="point-input4" type="submit" name="point_delete" value="Delete">
            <input id="point-input5" type="submit" name="point_close" value="x">
            <!-- auxiliary input field -->
            <input id="point-input6" type="text" name="point_name" value="" style="display: none">
            <input id="point-input7" type="text" name="dup_x" value="" style="display: none">
            <input id="point-input8" type="text" name="dup_y" value="" style="display: none">
            <input id="point-input9" type="text" name="uid" value="" style="display: none">
        </div>
    </div>
    <!-- three buttons -->
    <input id="btn-add" type='submit' name="add" value="ADD DEVICE">
    <input id="btn-list" type='submit' name="checkList" value="CHECK DEVICE LIST">
    <input id="btn-continue" type='submit' name="continue" value="CONTINUE">
  </div>
</form>

<script>
    Vue.createApp({
      data() {
        return {
        }
      },
      delimiters: ['{[', ']}'],
      methods: {
    
      }
    }).mount('#admin-device-info')    
</script>

<script>
    const point_menu=document.getElementById('point-menu')
    let show_point=true
    hidpointlist_once();
    
    function hidpointlist_once(){  // do not show at first
        if(show_point){
            point_menu.style.display='none';
            show_point=false;
        }
    }

    var objs = JSON.parse('{{ devices | tojson | safe}}')
    var parenDiv=document.getElementById('device-objs')
    var choose_obj = JSON.parse('{{ devices_choose | tojson | safe}}')
    console.log(objs)
    console.log(choose_obj)
    const imgDiv = document.getElementById('image')
    for (let i = 0; i < Object.keys(objs).length; i++) {
        var obj=objs[i]
        let sonDiv=document.createElement("div") // ball
        sonDiv.id='point_'+i
        sonDiv.style.position='absolute'
        sonDiv.style.top=obj.y *imgDiv.clientHeight / document.body.clientHeight+'vh'
        sonDiv.style.left=obj.x *imgDiv.clientWidth / document.body.clientWidth+'vw'
        sonDiv.style.transform='translate(-50%,-50%)'
        sonDiv.style.border='1vh solid #0074BC'
        sonDiv.style.height='10vw'
        sonDiv.style.width='10vw'
        sonDiv.style.borderRadius='50%'
        sonDiv.style.backgroundColor='transparent'
        sonDiv.style.zIndex='1'
        
        let grandsonInput=document.createElement("input") // content
        grandsonInput.type='submit'
        grandsonInput.name='devices_input_'+obj.name
        grandsonInput.value=' '
        grandsonInput.style.position='absolute'
        grandsonInput.style.top='-0.6vh'
        grandsonInput.style.left='-0.6vw'
        grandsonInput.style.height='9vw'
        grandsonInput.style.width='9vw'
        grandsonInput.style.borderRadius='50%'
        grandsonInput.style.border='none'

        let menu_point = document.getElementById("point-menu")
        if(choose_obj[i][1]==1){  // device[i] hits.
            grandsonInput.style.backgroundColor='#0074BC'
            show_point=true
            if(menu_point.style.display=='none')
                menu_point.style.display='block';
            menu_point.style.position='absolute'
            menu_point.style.left = sonDiv.style.left
            menu_point.style.top= sonDiv.style.top
            menu_point.children[0].children[1].value=obj.name;  // Name
            
            // menu_point.children[1].children[1].value=obj.type;  // Type
            //$("#point-text21").html("<option class='opt_value' value='none'>None</option>");
            // const type_list = ['none', 'Microphone', 'Projector', 'Screener'];
            // for(var i=0; i<type_list.length; i++){
            //     $("#dimId").append("<option value='"+result.data[i].dim_Id+"'>"+result.data[i].dim_Name+"</option>");
            // }
            console.log(obj.type);
		    $("#point-text21").val(obj.type);//第二步：把拿到的回显的数据传入到回显函数进行显示。
            
            // menu_point.children[2].children[2].setAttribute('src', obj.device_img);  // Device_img
            menu_point.children[8].value=obj.name; // auxiliary field
            menu_point.children[11].value=i;
        }
        else{
            grandsonInput.style.backgroundColor='transparent'
        }

        sonDiv.appendChild(grandsonInput)
        parenDiv.appendChild(sonDiv)
    }
</script>

<script>//Add Point
    let form = document.getElementById("admin-device-info")
    const slider = document.getElementById('device-scroll')
    const add_btn = document.getElementById('btn-add')
    const del_btn = document.getElementById('device-button6')

    let point = document.getElementById("point-menu")
    let isDown = false;
    let isAddProcess = false;
    let isDelProcess = false;
    let startX,startY,x,y;
    let scrollLeft,scrollTop;

    window.addEventListener('click', (e) => {
        if(e.target==del_btn && isDelProcess==false){
            e.preventDefault();  // prevent the form be submitted
            isDelProcess=true
            console.log("delete process, choose the point")
        }
        else if(e.target==add_btn && isAddProcess==false){
            e.preventDefault();  // prevent the form be submitted
            isAddProcess=true
            console.log("add process, choose the location")
            point.children[8].setAttribute('value', "");  // Add default 'name'
        }
        else if(isAddProcess==true){
            console.log("add process over")
            isAddProcess=false
            point.children[9].setAttribute('value', x);  // Add location x field
            point.children[10].setAttribute('value', y);  // Add location y field
            form.submit()
            point.children[9].setAttribute('value', "");
            point.children[10].setAttribute('value', "");
        }
        else if(isDelProcess==true){
            console.log("delete process over")
            // isDelProcess=false
            // var objs = JSON.parse('{{ devices | tojson | safe}}')
            // for (let i = 0; i < Object.keys(objs).length; i++) {
            //     if(e.target == document.getElementById('point_'+i)){
            //         e.preventDefault();  // prevent the form be submitted
            //         point.children[4].setAttribute('value', "yes");  // Delete field
            //         point.children[0].setAttribute('value', objs[i].name);
            //         // form.submit()
            //         point.children[4].setAttribute('value', "");
            //         point.children[0].setAttribute('value', "");
            //     }
            // }
        }
    })


    slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider.classList.add('active');
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
        startY = e.pageY - slider.offsetTop;
        scrollTop = slider.scrollTop;
    });

    slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider.classList.remove('active');
    });

    slider.addEventListener('mouseup', () => {
        isDown = false;
        slider.classList.remove('active');
    });

    slider.addEventListener('mousemove', (e) => {
        if(isDown){
            e.preventDefault();
            x = e.pageX - slider.offsetLeft;
            const walkX = (x - startX) * 1.2; //scroll-fast
            slider.scrollLeft = scrollLeft - walkX;
            y = e.pageY - slider.offsetTop;
            const walkY = (y - startY) * 1.2;
            slider.scrollTop = scrollTop - walkY;
        }
        if(isAddProcess){
            x = e.offsetX / imgDiv.clientWidth * 100;
            y = e.offsetY / imgDiv.clientHeight * 100;
        }
    });
</script>
{% endblock %}